<!DOCTYPE html>

    <html lang="en">

        <head>

            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Venta de artículos</title>
            <link rel="stylesheet" href="/public/css/styles2.css">

        </head>

    <body>
      
        <header>

            <h3 class="titulo">Lista de Precios de</h3>
            <h3 class="titulo2">Artículos</h3>

        </header>

            <h1>Productos</h1>

                <form id="agregarForm">

                    <label for="tarea">Nuevo Producto:</label>

                        <input type="text" id="producto" required>

                            <div class="mover"><button type="submit">Agregar Producto</button></div>

                </form>

                <ul class="listaCuadrado" id="listaProductos"></ul>

                   <div><button class="mover2" id="eliminarCompletadasl">Eliminar Producto</button></div>

                        <script src="/precios.js"></script>
                            
                            <div class="cuadro" id="advertencia"></div>

            <footer>

                <h4>Sugerencias</h4>
      
                <ul class="listaCirculo"> 

                    <li>Cafetera Moulinex</li>
                    <li>MacBook Pro 2019</li>
                    <li>Samsung Galaxy S10</li>
                    <li>SmartTv Samsung 43"</li>

                </ul>
             
            </footer>    



    
    </body>

</html>